# http://editorconfig.org
root = true

[*] # 表示所有文件適用
charset = utf-8 # 設置文件字符集為 utf-8
end_of_line = lf # 控制換行類型(lf | cr | crlf)
insert_final_newline = true # 始終在文件末尾插入一個新行
indent_style = tab # 縮進風格（tab | space）
indent_size = 2 # 縮進大小
max_line_length = 130 # 最大行長度

[*.md] # 表示僅 md 文件適用以下規則
max_line_length = off # 關閉最大行長度限制
trim_trailing_whitespace = false # 關閉末尾空格修剪